<div id="waline" class="mt-12"></div>

<script>
  import { COMMENT } from "@config";
  import { init } from "@waline/client";
  import "@waline/client/dist/waline.css";
  const theme = document.documentElement.getAttribute("data-theme");
  init({
    el: "#waline",
    comment: COMMENT.comment,
    serverURL: COMMENT.serverURL,
    dark: COMMENT.dark,
  });
</script>
